body {
    background: #fff;
    color: #000;
    font-family: "Work Sans",sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
}

.section-news .nav-tabs {
    display: inline-block;
    border: #e4e4e4;
    margin-bottom: 65px;
    float: left;
}

.section-news {
    margin-top: 50px;
    margin-bottom: 50px;
}

.h2, h2 {
    font-size: 38px;
    font-weight: 500;
    color: #033a71;
    line-height: 50px;
    margin-top: 0;
}

@media (min-width: 1200px) {
.container {
    width: 1180px;
  }
}


.section-news .nav-tabs li.active a {
    border: 0;
    font-weight: 500;
    color: #0b57a2;
}

.nav-tabs li a:hover {
    text-decoration: none;
}

.section-news h2 {
    margin-bottom: 50px;
}

.section-news .nav-tabs li {
    border: 1px solid #ebebeb;
    background: #f2f6f8;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}

.section-news .nav-tabs li a {
    padding: 21px 35px 20px 35px;
    color: #000;
    font-size: 1.2rem;
    line-height: 25px;
    font-weight: 400;
    border-radius: 0;
    margin: 0;
    border: 0;
}

.nav>li>a {
    position: relative;
    display: block;
}

@media (min-width: 768px) {
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}

.section-news .article span {
    min-width: 92px;
    height: 89px;
    line-height: 89px;
    font-weight: 300;
    color: #fff;
    font-size: 49px;
    background: #0b57a2;
    display: block;
    text-align: center;
    float: left;
    margin-right: 28px;
}

li:hover {
    background-color: #fff;
}

.section-news .article .title h3 a {
    font-size: 1.2rem;
    line-height: 30px;
    color: #0b57a2;
    font-weight: 400;
}

.section-news .article .title p {
    font-size: 15px;
    color: #0b57a2;
    font-weight: 500;
    display: inline-block;
    padding-right: 40px;
    text-transform: uppercase;
    margin: 0;
}

@media (min-width: 768px) {
.col-sm-12 {
    width: 100%;
}
}

@media (min-width: 992px) {
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
}

.section-news .article {
    display: flex;
    width: 100%;
    margin-bottom: 55px;
    max-height: 90px;
}

.section-news .btn-white {
    margin: 0 auto;
    display: block;
    max-width: 202px;
}
.btn.btn-white {
    color: #0b57a2;
    font-size: 20px;
    font-weight: 500;
    height: 62px;
    line-height: 62px;
    border: 1px solid #0b57a2;
    padding: 0 20px;
    border-radius: 0;
}
.btn {
    line-height: 62px!important;
}